/* Base styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #004c66, #006080, #007499);
}

/* Default mode */
body {
  color: black;
  background-color: white;
}

/* Dark mode */
body.dark-mode {
  color: white;
  background-color: black;
}

/* Search bar styles */
.search-bar {
  width: 300px;
  border-radius: 20px 0 0 20px;
  transform: scaleY(1.2);
  transform-origin: top;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

/* Location button styles */
.location-button {
  width: 30px;
  border-radius: 0 20px 20px 0;
  transform: scaleY(1.2);
  transform-origin: top;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-left: -4px;
}

.location-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.location-title h1 {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.location-title svg {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}


.location-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

/* Search click styles */
.search-click {
  border-radius: 0;
  transform: scaleY(1.20);
  transform-origin: top;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.search-click:hover {
  background-color: lightgray;
  cursor: pointer;
}

/* Forecast item styles */
.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 350px;
  height: auto; /* Updated to auto to accommodate varying content height */
  position: relative;
  overflow: hidden; /* Added overflow property to hide overflowing content */
}

.forecast-item-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

p.forecast-item-temperature{
  display: inline;
}

.forecast-item-temperature {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.forecast-item-forecast {
  margin-bottom: 0.5rem;
}

.forecast-item-detailed-forecast {
  font-size: 1rem;
  max-height: 100px;
  overflow: auto;
  margin-bottom: 0;
  font-weight: bold;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.forecast-item-icon {
  margin-top: 0.5rem;
}

/* Day button styles */
.day-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.day-button.active {
  background-color: #f2f2f2;
}

/* Forecast items container styles */
.forecast-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 1rem;
}

/* Error modal styles */
.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.error-modal-inner {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.error-close-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error-close-button:hover {
  background-color: #0056b3;
}

/* Weather icon styles */
.weather-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.weather-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Wind icon styles */
.forecast-item-wind {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.forecast-item-wind svg {
  margin-right: 0.5rem;
}

.forecast-item-wind-speed {
  text-align: center;
}


/* Geolocation icon styles */
.forecast-item-location {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.forecast-item-location svg {
  margin-right: 0.5rem;
}
