/* Base styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #8dbdff, #2980b9);
}


/* Default mode */
body {
  color: #333;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

/* Search container */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.search-container input {
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-container input:focus {
  border-color: #007bff;
}

.num-of-days-label {
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
}

.num-of-days {
  width: 80px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  transition: border-color 0.3s ease;
}

.num-of-days:focus {
  border-color: #007bff;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button-container button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #0056b3;
}

.location-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -4px;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.location-button:hover {
  background-color: #0056b3;
}

.location-button svg {
  font-size: 20px;
  color: #fff;
}

.is-location-blocked-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.github-link {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.github-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
}

.Your-Weather-Forecast-Title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.Your-Weather-Forecast-Title span {
  color: #FFD700; /* Use a contrasting color like gold */
}



.github-link img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}


.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.location-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.location-title h1 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}

.forecast-item-inner {
  margin-bottom: 10px;
}

.forecast-item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.current-time {
  font-size: 16px;
  margin-bottom: 5px;
  color: #777;
}

.weather-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

img.weather-image {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.forecast-item-temperature {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.temperature-circle {
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.forecast-item-forecast {
  font-size: 16px;
  margin-bottom: 5px;
}

.forecast-item-detailed-forecast {
  font-size: 14px;
  margin-bottom: 5px;
}

.forecast-item-wind {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.forecast-item-wind svg {
  margin-right: 5px;
  color: #007bff;
}

.forecast-item-wind-speed {
  font-size: 16px;
}

.forecast-item-wind-direction {
  font-size: 16px;
  margin-bottom: 5px;
}

button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.error-modal-inner {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.error-close-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error-close-button:hover {
  background-color: #0056b3;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden; /* Hide the overflow of the detailed forecast */
  position: relative;
}

.forecast-item-inner {
  margin-bottom: 10px;
  transition: transform 0.5s ease;
  transform-origin: left center;
}

.forecast-item.show-details .forecast-item-inner {
  transform: translateX(calc(100% - 20px));
  overflow-x: hidden; /* Hide the horizontal overflow */
  animation: scrollDetails 10s linear infinite;
}

.forecast-item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

@keyframes scrollDetails {
  0% {
    transform: translateX(100%); /* Start from the right edge */
  }
  100% {
    transform: translateX(-100%); /* End at the left edge */
  }
}


.current-time {
  font-size: 16px;
  margin-bottom: 5px;
  color: #777;
}

.weather-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.weather-image {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.forecast-item-temperature {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.temperature-circle {
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.forecast-item-forecast {
  font-size: 16px;
  margin-bottom: 5px;
}

.forecast-item-detailed-forecast {
  font-size: 14px;
  margin-bottom: 5px;
}

.forecast-item-wind {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.forecast-item-wind svg {
  margin-right: 5px;
  color: #007bff;
}

.forecast-item-wind-speed {
  font-size: 16px;
}

.forecast-item-wind-direction {
  font-size: 16px;
  margin-bottom: 5px;
}

button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
